.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
  
        .row.vertical-align
          .col-xs-6
            .jumbotron
              %h1.text-center
                #{formatted_temperature Sensor.find(1).latest_value}
          .col-xs-6
            %table.table.small.table-condensed
              %tr
                %th
                  Humidity
                %td
                  #{Sensor.find(3).latest_value&.round(0)}%
              %tr
                %th
                  Dewpoint
                %td
                  #{formatted_temperature Sensor.find(4).latest_value}
              %tr
                %th
                  Pressure
                %td
                  #{Sensor.find(5).latest_value&.round(0)}
  
    .row
      .col-xs-12
        %h2 
          Recent Temperature
      
        = line_chart recent_temperatures_graph_data_path, min: 30, max: 90, library: {responsive: true, scales: { yAxes: [{ ticks:{ stepSize: 10 } }], xAxes: [{gridLines: { display: true, lineWidth: 1, drawOnChartArea: true  }}] }}
    
    .row
      .col-xs-12
        %h2 
          Recent Highs/Lows
        
        = line_chart recent_highs_and_lows_graph_data_path, min: 30, max: 120, library: { responsive: true, scales: { yAxes: [{ ticks:{ stepSize: 10 } }], xAxes: [{gridLines: { display: true, lineWidth: 1, drawOnChartArea: true }}] } }, colors: [ '#dc5228', '#286fdc', '#28dc96' ]
        
      
          